<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
	<nav>
        {{ range .Site.Menus.main }}
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{ end }}
	</nav>
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    {{ $navstyle := resources.Get "css/navbar.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="stylesheet" href="{{ $navstyle.RelPermalink }}" integrity="{{ $navstyle.Data.Integrity }}">
</head>
<body>
<header>
    <a href="/">{{ .Site.Title }}</a>
    <p style="font-size: 0.8rem; color: #666;">{{ .Site.Params.description }}</p>
</header>

    {{ block "main" . }}
    {{ end }}

    <footer>
        <p>© {{ now.Format "2006" }} Callum (Carbon-Based)</p>
    </footer>
</body>
</html>
