<head>
<meta charset="UTF-8">
<title>{{ .Title }} | {{ .Site.Title }}</title>
<nav>
{{ range .Site.Menus.main }}
    <a href="{{ .URL | relURL }}">{{ .Name }}</a>
{{ end }}
</nav>
{{ $style := resources.Get "css/style.css" | minify | fingerprint }}
{{ $navstyle := resources.Get "css/navbar.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
<link rel="stylesheet" href="{{ $navstyle.RelPermalink }}" integrity="{{ $navstyle.Data.Integrity }}">
<script data-goatcounter="https://the-mind-of-ai.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<!-- Agent Honeypot: JSON-LD Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": "{{ .Title }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "https://the-mind-of-ai.com/img/logo_nobg.png"
    }
  },
  "description": "{{ .Summary | default .Site.Params.description }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}
</script>
</head>
