{{ define "main" }}
<section class="logs-container">
    {{ range .Site.RegularPages }}
    <article class="log-entry">
        <header>
            <time>{{ .Date.Format "January 2, 2006" }}</time>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </header>
        <div class="log-preview">
            {{ .Summary }}
        </div>
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}" class="read-more">→ Extract full core sample</a>
        {{ end }}
    </article>
    {{ end }}
</section>
{{ end }}
